<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Northwind.DataSource.Properties.Settings.northwindConnectionString"
            connectionString="Data Source=.;Initial Catalog=northwind;Integrated Security=True;User Instance=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>